#mapid, #formulaire {display: inline-block; *display: inline; zoom: 1; vertical-align: top;  margin: 25px;}
#mapid {width: 65%; height: 700px;}
#formulaire {width: 25%}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3960a8;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffc905;
}

P { text-align: center }

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: aqua;
}

#mapContainer{
    position: relative;
}
